version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "dependabot"
    ignore:
      - dependency-name: "django"
        versions: ["<3.0.0"]
